////BUTONS

.btn {
	padding: .2rem 1.5rem;
	@include breakpoint(w992) {
		padding: .2rem 0.4rem;
	}
	&:disabled {
		cursor: not-allowed;
	}
}
.btn-known-user {
	color: $dark-blue;
	font-weight: 700;
	border: 2px solid $btn-known-user-border;
	padding: 0;
	@include linearGradient($btn-known-user-top, $btn-known-user-bottom);
	&:hover {
		color: $dark-blue;
		@include linearGradient($btn-known-user-bottom, $btn-known-user-top);
	}
	&:active {
		color: $dark-blue;
		background-color: $btn-known-user-bottom;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	&:focus {
		color: $dark-blue;
		outline: 5px auto $btn-known-user-bottom;
	    outline-offset: -2px;
	    box-shadow: 0 0 0 0.2rem rgba(66,165,220,.25);
	    transition: none;
	}	
	&:visited {
		color: $dark-blue;
	}
}
.btn-bigfriendly {
	color: #084FAB;
	border: 2px solid $bigfriendly-button-border;
	@include linearGradient($bigfriendly-button-top, $bigfriendly-button-bottom);
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	&:hover {
		color: #084FAB;
		@include linearGradient($bigfriendly-button-bottom, $bigfriendly-button-top);
	}
	&:active {
		color: #2A70C6;
		background-color: $bigfriendly-button-active;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
	}
	&:focus {
		color: #2A70C6;;
		outline: none;
	    outline-offset: -2px;
	    box-shadow: 0 0 0 0.2rem rgba(196,223,255,.25);
	    transition: none;
	}	
	&:visited {
		color: $white;
	}
}
.btn-blue {
	color: $white;
	font-weight: 700;
	border: 1px solid $primaryaction-button-border;
	@include linearGradient($primaryaction-button-top, $primaryaction-button-bottom);
	&:not([disabled]) {
		&:hover {
			color: $white;
			@include linearGradient($primaryaction-button-bottom, $primaryaction-button-top);
		}
		&:active {
			color: $white;
			background-color: $primaryaction-button-bottom;
			-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		}
		&:focus {
			color: $white;
			outline: 5px auto $primaryaction-button-top;
			outline-offset: -2px;
			box-shadow: 0 0 0 0.2rem rgba(66,165,220,.25);
			transition: none;
		}	
		&:visited {
			color: $white;
		}
	}
	
}
.btn-gray {
	color: $dark-text;
	font-weight: 700;
	border: 1px solid $gray-button-border;
	@include linearGradient($gray-button-top, $gray-button-bottom);
	&:not([disabled]) {
		&:hover {
			color: $dark-text;
			@include linearGradient($gray-button-bottom, $gray-button-top);
		}
		&:active {
			color: $dark-text;
			background-color: $gray-button-bottom;
			-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		}
		&:focus {
			color: $dark-text;
			outline: 5px auto $gray-button-top;
			outline-offset: -2px;
			box-shadow: 0 0 0 0.2rem rgba(187,187,187,.25);
			transition: none;
		}	
		&:visited {
			color:$dark-text;
		}
	}
}

.connect {
	font-size: 30px;
	font-weight: 700;
	border-radius: 0;
	padding:15px!important;
	margin-bottom: 30px;
	@include breakpoint(w1200) {
		font-size: 25px;
	}
	@include breakpoint(w992) {
		font-size: 20px;
	}

	.plus {
		position: relative;
		width: 30px;
		display: inline-block;
		height: 30px;
		@include breakpoint(w992) {
			width: 20px;
			height: 20px;
		}
		&::before {
			content: "\f067";
	  		font-family: $awesome;
	  		font-weight: 900;
	  		font-size:23px;
			position: absolute;
			top: 3px;
			left: 0;
			@include breakpoint(w1200) {
				font-size: 20px;
				top: -4px;
			}
			@include breakpoint(w992) {
				font-size: 17px;
				top: -2px;
			}
		}
	}
	.db {
		position: relative;
		width: 48px;
		display: inline-block;
		height: 34px;
		@include breakpoint(w1200) {
			width: 42px;
			height: 34px;
		}
		@include breakpoint(w992) {
			width: 35px;
			height: 25px;
		}
		&::before {
			content: "\f1c0";
	  		font-family: $awesome;
	  		font-weight: 900;
	  		font-size: 38px;
	  		position: absolute;
	  		top: -6px;
			left: 3px;
			@include breakpoint(w1200) {
				font-size: 34px;
			}
			@include breakpoint(w992) {
				font-size: 30px;
			}
		}
	}
	&.btn-known-user {
		font-size: 25px;
		line-height: 1.2;
		text-align: left;
		margin-bottom: 40px;
		padding: 0!important;
		@include breakpoint(w992) {
			font-size: 18px;
		}
		span.login_logo {
			display: block;
			float: left;
			height: 95px;
			background-color: #fff;
			border-right: 5px solid #fff;
			width: 140px;
			border-left: 5px solid #fff;
			
			position: relative;
			@include breakpoint(w992) {
				width: 113px;
				height: 77px;
			}
		}
		img {
			position: absolute;
			max-height: 95px;
			max-width: 100%;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50%;
			@include breakpoint(w992) {
				max-height: 77px;
			}
		}
		div {
			padding: 1.1rem 1.5rem;
			float: left;
			border-left: 2px solid #cdcdcd;
			white-space: normal;
			max-width: 380px;
		}
		.user-name {
			font-weight: normal;
		}
	}
	&.settings-small {
		font-size: 18px;
		padding:10px 20px!important;
		.plus {
			width: 20px;
			height: 14px;
			&::before {
		  		font-size:18px;
				top: -7px;
				left: 0;
			}
		}
		.db {
			width: 30px;
			height: 17px;
			&::before {
		  		font-size: 24px;
		  		top: -8px;
				left: 3px;
			}
		}
	}
}

.home-button {
	font-size: 24px;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 40px;
    height: 300px;
	border: 2px solid $bigfriendly-button-border;
	.upload {
		&::after {
			content: "\f093";
	  		font-family: $awesome;
	  		font-weight: 900;
			font-size: 80px;
			display: block;

		}
	}
	.download{
		&::after {
			content: "\f019";
	  		font-family: $awesome;
	  		font-weight: 900;
			font-size: 80px;
			display: block;
		}
	}
	.history {
		&::after {
			content: "\f1da";
	  		font-family: $awesome;
	  		font-weight: 900;
			font-size: 80px;
			display: block;
		}
	}
}
#settings-section .input-group-btn {
	margin-bottom: 0;
}