$nprogress_color: #12BB00; 

.hidden {
    display: none;
}

.break-all {
    word-break: break-all;
}

th.highlight {
    background: #C7D9EE;
}

td.highlight {
    background: #E4EFFF;
}

#upload-section {
    .tab-content>.active {
        position: relative;
        padding-bottom: 67px;
    }

    .tab-content {
        min-height: calc(100vh - 191px);
    }
    .container-fluid {
        margin-bottom: 0;
        max-width: 100%;
    }

    .action-button-row {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 15px;
        justify-content: center;
        
        .button-row {
            margin-bottom: 0;
        }

        > div {
            &.row_items {
                display: flex;
                justify-content: space-between;
            }
            background: #f4f4f4;
            padding: 10px;
            max-width: calc(100% - 30px);
            width: 100%;
            
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
        }
    }
}

body #nprogress {
    .bar {
        z-index: 99999;
        height: 4px;
        background: $nprogress_color;
    }

    &:after {
        content: "";
        width: 100%;
        position: fixed;
        background: #E9E9E9;
        height: 4px;
        top: 0;
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
    }

    .peg {
        display: none;
    }

    .spinner {
        left: 15px;
    }

    .spinner-icon {
        border-top-color: $nprogress_color;
        border-left-color: $nprogress_color;
        border-width: 4px;
    }
}


body .swal-modal {
    width: 800px;
}

body #upload_session_date {
    &::-webkit-calendar-picker-indicator{
        color: rgba(255,255,255,0);
        background-color: rgba(255,255,255,0);
        width: 10px;
        height: 21px;
        right: -3px;
        position: relative;
    }
    &:hover::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }
    &::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
    }
    &.is-invalid, &.is-valid {
        background-image: none;
        padding-right: .75rem;
    }
    &.is-invalid::after, &.is-valid::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 25px;
        pointer-events: none;
        position: absolute;
        
        top: 0px;
    }
    &.is-valid::after {
        content: "\f00c";
        color: #28a745;
        right: -19px;
    }
    &.is-invalid::after {
        content: "\f00d";
        color: #dc3545;
        right: -11px;
    }
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
 
    width: 500px;
    height: 20px;
    text-align: center;

    &::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }

    &::before {
        content: attr(value) "/" attr(max)
    }

    &::after {
        content: '';
        width: 6px;
        height: 6px;
        position: absolute;
        border-radius: 100%;
        right: 7px;
        top: 7px;
        background-color: white;
    }
}

#user_table, #upload_monitor_table, #download_monitor_table, .fixed-table-container, #download_archive_table, #upload_archive_table {
    .filter-control {
        padding: 4px;
        input {
            padding: .125rem .75rem .125rem 30px;
            border-radius: .25rem;
            height: auto;
        }
        select {
            height: 1.875rem;
            padding: 0 0.25rem 0 1.5rem;
        }
        &::before {
            left: 11px;
            top: 8px;
        }
    }
	
}
#selected_scans {
    .filter-control {
        &::before {
            display: none;
        }
        input {
            padding-left: 10px;
        }
        select {
            padding-left: 0;
            height: 1.875rem;
        }
    }

    tbody .btn {
        padding-left: 7px;
        padding-right: 7px;
    }

    .bootstrap-table .fixed-table-container .table thead th .sortable {
        padding-right: 16px!important;
    }
}

.log-text {
    overflow: auto;
    height: auto;
    max-height: 55vh;
}
.log-text p {
    margin: 0;
}
#additional-upload-fields {
    width: 100%;
    margin-bottom: 15px;
}
.project-subjects-holder, .visits-holder, .datatypes-holder, .subtypes-holder {
    //display: none;
}

#found_sessions {
    .fixed-table-container[style^="height"] & {
        margin-bottom: 42px !important;
    }
    td.break-all {
        word-break: break-all;
    }
}
.modal-xl {
    @include breakpoint(minw1201) {
		max-width: 1115px;
	}
	@include breakpoint(w1200) {
		max-width: 96%;
	}
    
}

.brighttheme.ui-pnotify-container {
    padding: 8px 18px;
}
.brighttheme .ui-pnotify-icon {
    margin-top: 0.13em;
}
.brighttheme .ui-pnotify-title {
    margin-bottom: 4px;
    font-size: 1.3rem;
}

.ui-pnotify.stack-bar-bottom {
    margin-left: 25%;
    margin-bottom: 0px;
    right: auto;
    bottom: 0;
    top: auto;
    left: auto;
}
.ui-pnotify-sticker {
    font-size: 80%;
    margin-right: 10px;
    line-height: 200%;
}
.brighttheme-icon-error:after {
    left: -3px;
    top: 2px;
}
.brighttheme-icon-closer:after, 
.brighttheme-icon-info:after, 
.brighttheme-icon-notice:after, 
.brighttheme-icon-sticker:after, 
.brighttheme-icon-success:after {
    left: 5px;
}

body>.ui-pnotify {
    z-index: 9999;
}

.bootstrap-tagsinput {
    border-color: #aaa;

    &.focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)
    }
}

#login_error_details {
    white-space: pre-wrap;
    font-size: 0.6em !important;
    max-height: 300px;
    overflow: auto;
}

.notice {
    color: #ef6544;
    font-style: italic;
    span {
        font-style: normal;
    }
}

// SWEETALERT style FIX
.swal-modal {
    border-radius: 0;
}
.swal-footer {
    margin-top: 30px;
    background: #f4f4f4;
}
.swal-button {
    @extend .btn;
    @extend .btn-blue;
}
.swal-button--confirm {
    @extend .btn-blue;
}
.swal-button--cancel {
    @extend .btn-gray;
}
// END sweetalrt FIX

.nav-tabs {
    border-bottom: 6px solid #1A75BB;
}
.nav-tabs .nav-item {
    margin-bottom: 0.5px;
    margin-right: 4px;
    border-bottom: none !important;
}

// Processing message
.blockUI.blockMsg.blockPage {
    border-radius: 0 !important;
}

// Pnotify
.stack-bar-bottom {
    margin-bottom: 10px;
}


/* MAGIC-CHECK */

.magic-checkbox + label {
    &:before {
      border-radius: 0px;
      background-color: white;
    }
}


/* MAGIC-CHECK */

.magic-checkbox {
    + label {
        &:before {
          border-radius: 0px;
          background-color: white;
        }
    }
    &.magic-checkbox--small + label {
        padding-left: 20px; 
        display: inline-block;
        &:before {
            width: 14px;
            height: 14px;
            top: 2px;
        }
        &:after {
            top: 4px;
            left: 5px;
            width: 5px;
            height: 8px;
        }
    }
}


/*************************/
#view-receipt.show {
    &.modal{
        display: block !important; /* I added this to see the modal, you don't need this */
    }
    
    /* Important part */
    .modal-dialog{
        overflow-y: initial !important
    }
    .modal-body{
        max-height: 70vh;
        overflow-y: auto;
    }
}
/**********************/
.popover-body {
    ul.scan-review-tooltip {
        padding: 0 0 0 13px;
        margin-bottom: 0;
    }
}
#review-series-images {
    .modal-body{
        color: #ddd;
        background-color: #2f2f2f;

        position: absolute;
        padding-bottom: 100px;

        min-width: 100%;
        min-height: 90vh;
    }
    .scan-review-item {
        padding: 2px 0;
        width: calc(33.33% - 4px);
        display: block;
        float: left;
        position: relative;
        border: 3px solid transparent;
        margin: 2px;

        &:hover {
            cursor: pointer;
        }

        h3 {
            margin-bottom: 0;
            font-size: 1rem;
            background: #000;
            padding: 1px 22px 1px 4px;
            font-weight: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .has-popover {
            position: absolute;
            top: 2px;
            right: 3px;
        }

        .img-data {
            position: relative;

            canvas {
                border: none;
                position: absolute;
                height: 100%;
                background-color: transparent;
                transform: translateX(-50%);
                margin-left: 50%;
                width: auto;
            }
        }

        img {
            width: 100%;
        }

        dl {
            margin-bottom: 5px;
            dt {
                display: block;
                float: left;
                min-width: 80px;
            }
            dd {
                display: block;
                margin: 0;
            }
        }

        .scan-links {
            a {
                color: #fff;
                text-decoration: underline;
            }
        }

        .mark-excluded {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            color: #a90d0d;
            font-weight: bold;
        }

        &.excluded {
            .mark-excluded {
                display: inline-block;
            }
        }
    }

    .hide-excluded .excluded{
        display: none;
    }

    .scan_checkbox {
        display: none;
    }

    .scan_checkbox:checked + .scan-review-item {
        border-color:green;
    }
}
/**********************/
#create-masking-template {
    top: 0 !important;
    .modal-dialog {
        .modal-header {
            color: #fff;
            background-color: #2f2f2f;
            border-radius: 0;
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }
    .modal-body{
        color: #ddd;
        background-color: #2f2f2f;

        position: absolute;
        padding-bottom: 100px;

        min-width: 100%;
        min-height: 90vh;
    }
}
/**********************/
h3 > span[data-toggle="popover"] {
    font-size: 0.9rem;
    display: inline-block;
    margin-left: 9px;
    text-transform: uppercase;
}

span[data-toggle="popover"] {
    cursor: pointer;
}
.fa-question-circle {
    color: #1A75BB;
}
.popover-header, .popover-body {
    font-family: "Roboto", sans-serif;
}
/*****************************************/
.filter-clear-container {
    float: right;
    margin-top: -2.1em;
    button {
        padding: 2px 9px 2px 6px;
    }
    .filter-clear {
        height: 1em; line-height: 1; width: 1em; left: -2px;
        i:last-child {
            color: tomato; font-size: 10px; left: 10px;top: 6px;
        }
    }
    .filters-active {
        margin-left: 8px;
        font-weight: 100;
    }
}
/*****************************************/

.mask-group-row {
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    margin-top: 10px;

    td {
        width: 100px;
        height: 100px;
        text-align: center;
        vertical-align: center;
    }

    img {
        width: 100px;
        height: 100px;
    }

    &.group_excluded {
        background-color: rgb(255, 212, 212);
        position: relative;

    }
}

.anno-width-400 {
    width: 460px !important;
}

.cb-radio {
    input {
        -webkit-appearance: none;
        appearance: none;

        margin: 0;
      
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 50%;
        transform: translateY(-0.075em);
      
        display: grid;
        place-content: center;
        outline: none;
    }

    input::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #1A75BB;
        /* Windows High Contrast Mode */
        background-color: CanvasText;
    }
      
    input:checked::before {
        transform: scale(1);
    }

    input:focus {
        box-shadow: 0px 0 1px 2px #ffc107;
    }
    
}

#upload_restrictions, #upload_restrictions_modal {
    font-size: 16px;
    &:empty {
        display: none;
    }
}
#upload_restrictions_modal {
    text-align: center;
}