body {
	font-family: $ptsans;
	margin-top: $header_height;
}
.noselect { 
	-webkit-user-select: none;
	cursor: default; 
}
.container-fluid {
	max-width:1140px;
	// height: 100vh;
	margin-bottom: 30px;
}
.container {
	//height: 100vh;
	margin-bottom: 30px;
}
header {
	@include linearGradient($header-top, $header-bottom );
	width:100%;
	height:$header_height;
	
    position: fixed;
    top: 0;
	z-index: 1;
	
	.settings {
		color: $menu-items;
		font-size: 20px;
		float: right;
		padding: 5px 10px;
		border-left: 1px solid $header-separator;
		border-right:1px solid $header-separator;
		&:hover {
			color:$white;
			text-decoration: none;
		}
	}
	.server-name {
		position: absolute;
		width: 100%;
		text-align: center;
		color: white;
		pointer-events: none;
		top: 6px;
		font-weight: 700;
	}
	.user-holder {
		position: relative;
		float: right;
		.user {
			color:$menu-items;
			font-size: 20px;
			float: right;
			padding: 5px 10px;
			border-left: 1px solid $header-separator;
			.name {
				font-size: 16px;
				font-weight:700;
			}
			&:hover {
				color:$white;
				text-decoration: none;
			}
		}
		.user-dropdown {
			position: absolute;
			display: none;
			z-index: 100;
			width: 220px;
			top: 45px;
			right: -40px;
			background: $user-dropdown-background;
			border: 1px solid $user-dropdown-border;
			text-align: center;
			padding: 15px;
			.username {
				font-size: 14px;
				display: block;
				padding: 0 0 10px;
			}
			&::before {
				border-bottom: 10px solid $user-dropdown-background;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				content: "";
				height: 0;
				position: absolute;
				right: 48px;
				top: -9px;
				width: 0;
				z-index: 2;
			 }
			 &::after {
				border-bottom: 10px solid $user-dropdown-border;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				content: "";
				height: 0;
				position: absolute;
				right: 48px;
				top: -10px;
				width: 0;
			 }
		}
	}
	.logo-header {
		color: $menu-items;
		font-size: 20px;
		float: left;
		padding: 0 10px;
		border-left: 1px solid $header-separator;
		.name {
			font-size: 16px;
			font-weight:700;
		}
		&:hover {
			color:$white;
			text-decoration: none;
		}
	}
	.menu-holder {
		position: relative;
		float: left;
		.menu {
			color:$menu-items;
			float: left;
			padding: 7px 30px 5px 10px;
			border-left: 1px solid $header-separator;
			border-right:1px solid $header-separator;
			font-size: 16px;
			font-weight:700;
			position: relative;
			&:hover {
				color:$white;
				text-decoration: none;
			}
			&::after {
				content: "\f107";
		  		font-family: $awesome;
		  		font-weight: 900;
		  		font-size:20px;
				position: absolute;
				top: 5px;
				right: 8px;
			}
		}
		.menu-dropdown {
			position: absolute;
			display: none;
			z-index: 100;
			width: 154px;
			top: 40px;
			left: -55px;
			background: $menu-back;
			border: 1px solid $menu-border;
			border-top: none;
			a {
				width:100%;
				padding:3px 10px;
				float: left;
				font-size: 16px;
				font-weight: 700;
				color: $menu-item;
				&:hover {
					text-decoration: none;
					background: $white;
				}
				&.monitor {
					border-top: 1px solid $menu-border;
				}
			}
		}
	}
	
}
.logo {
	margin: 50px 0;
	img {
		width:100%;
		max-width: 300px;
	}
}
.red-title {
	i{
		color: $alert;
		font-size: 30px;
	}
}
.alert {
	line-height: 1.2;
    font-size: 18px;
    color:$dark-text;
}
.folder-name {
	position: relative;
	padding-left: 30px;
	&::before{
		content: "\f07b";
	    font-family: "Font Awesome 5 Free";
	    font-weight: 900;
	    font-size: 16px;
	    color: $gray-button-border;
	    pointer-events: none;
	    position: absolute;
	    left: 4px;
	    top: 0px;
	}
}
h2.login-title {
	margin-top: 70px;
	margin-bottom: 30px;
}
.intro-text {
	margin-top:30px;
}
#table1 {
	.fixed-table-body {
	    height: 256px;
	}
}
main.content.js-content::before {
    content: '';
    display: block;
    height: 1px;
}
.date-holder {
	position: relative;
	&::before{
		content: "\f073";
	    font-family: "Font Awesome 5 Free";
	    font-weight: 900;
	    font-size: 25px;
	    color: $bigfriendly-button-bottom;
	    pointer-events: none;
	    position: absolute;
	    right: 25px;
	    top: 0px;
	}
}

.fixed-table-container {
	.fixed-table-header thead{
		th .th-inner {
			padding: 5px 8px 11px;
			&::before{
				content: '';
				height: 40px;
				   @include linearGradient($table-top, $table-bottom);
				width: 100%;
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
			}
		}
		th.right-aligned .th-inner {
			padding: 5px 22px 11px 0;
		}
	}

	.right-aligned{
		text-align: right;
	}

	thead th .th-inner {
		padding: 5px 8px 11px;
		&::before{
			content: '';
			height: 40px;
			   @include linearGradient($table-top, $table-bottom);
			width: 100%;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
		}
	}

	.fixed-table-body {
		thead {
			th .sortable {
				padding-right: 22px;
			}

			&::after {
				content: '';
				background: $table-control;
				position: absolute;
				z-index: -2;
				top: 0; right: 0; bottom: 0; left: 0;
			}
		}
	
		tbody {
			background-color: #fff;
		}
		
	}

}

.bootstrap-table-small {
	td {
		font-size: 14px;

		input[type="text"] {
			padding: 1px 3px;
    		border-radius: 3px;
		}
	}
	tbody tr:not(.selected) {
		color: #bbb;
		font-style: italic;
		input[type="text"] {
			color: inherit;
			font-style: inherit;
		}
	}
}

.download-radio-selection {
	margin-top:20px;
	.form-check {
		margin-bottom: 15px;
	}
}

////TYPO
h2.main-title {
	color: $title-color;
	font-size: 24px;
	line-height: 1.2;
	margin:20px 0 10px;
	font-weight: 700;
	width:100%;
}
h2.section-title {
	font-size: 18px;
	font-weight: 700;
	color: $section-title;
	&.search-inline {
		margin-top: 10px;
	}
}
h3.step-description {
	width:100%;
	font-size: 18px;
	line-height: 1.2;
	margin:0 0 20px;
	font-weight: 700;
	color: $section-title;

}


#upload-project a.selected, #subject-session a.selected, #visit a.selected, #datatype a.selected, #subtype a.selected  {
	background-color: $list-highlight-active;
}
.project_id, .meta_key, .meta_value {
	color: rgba(0,0,0,0.4);
    font-size: 83%;
    padding-left: 1em;
}

.project_id {
	display: none;
}

#project_settings_tbl {
	//width: auto;
	font-size: 0.85em;
}

.table-preheader-info {
	.row {
		background-color: #f3f3f3;
		padding-top: 15px;
		border: 1px solid #ccc;
		font-size: 0.9em;
		color: #666;
		line-height: 1.3;

		h3 {
			color: #333;
			font-size: 1.3em;
		}
	}
}

// ************************************************
$thumb-color: #272727;
$thumb-border-color: #8a8a8a;
$thumb-border-color-active: #9CCEF9;

$thumb-radius: 9px;
$thumb-height: 18px;
$thumb-width: 18px;

$track-color: #636363;
$track-border-color: #000000;

$track-width: calc(100% - 50px);
// ************************************************

// Styling Cross-Browser Compatible Range Inputs with Sass
// Github: https://github.com/darlanrod/input-range-sass
// Author: Darlan Rod https://github.com/darlanrod
// Version 1.5.2
// MIT License

$track-color: #eceff1 !default;
$thumb-color: #607d8b !default;

$thumb-radius: 12px !default;
$thumb-height: 24px !default;
$thumb-width: 24px !default;
$thumb-shadow-size: 4px !default;
$thumb-shadow-blur: 4px !default;
$thumb-shadow-color: rgba(0, 0, 0, .2) !default;
$thumb-border-width: 2px !default;
$thumb-border-color: #eceff1 !default;

$track-width: 100% !default;
$track-height: 8px !default;
$track-shadow-size: 1px !default;
$track-shadow-blur: 1px !default;
$track-shadow-color: rgba(0, 0, 0, .2) !default;
$track-border-width: 2px !default;
$track-border-color: #cfd8dc !default;

$track-radius: 5px !default;
$contrast: 5% !default;

$ie-bottom-track-color: darken($track-color, $contrast) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track {
  cursor: default;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}

@mixin thumb {
  @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);
  background: $thumb-color;
  border: $thumb-border-width solid $thumb-border-color;
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}

// Base Colors
$shade-10: #484848 !default;
$shade-0: #fff !default;
$range-label-color: $shade-10 !default;
$range-label-width: 38px !default;

#frame_input_container {
	#input_range_container {
		[type='range'] {
			-webkit-appearance: none;
			background: transparent;
			margin: $thumb-height / 2 0;
			width: $track-width;

			&::-moz-focus-outer {
				border: 0;
			}

			&:focus {
				outline: 0;

				&::-webkit-slider-runnable-track {
					background: lighten($track-color, $contrast);
				}

				&::-ms-fill-lower {
					background: $track-color;
				}

				&::-ms-fill-upper {
					background: lighten($track-color, $contrast);
				}
			}

			&::-webkit-slider-runnable-track {
				@include track;
				@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
				background: $track-color;
				border: $track-border-width solid $track-border-color;
				border-radius: $track-radius;
			}

			&::-webkit-slider-thumb {
				@include thumb;
				-webkit-appearance: none;
				margin-top: ((-$track-border-width * 2 + $track-height) / 2 - $thumb-height / 2);

				&:hover {
					border-color: $thumb-border-color-active;
				}
			}
			&:active::-webkit-slider-thumb {
				border-color: $thumb-border-color-active;
			}
			// Focus state
			&:focus {
				&::-webkit-slider-thumb {
					border-color: $thumb-border-color-active;
				}
			}

			&::-moz-range-track {
				@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
				@include track;
				background: $track-color;
				border: $track-border-width solid $track-border-color;
				border-radius: $track-radius;
				height: $track-height / 2;
			}

			&::-moz-range-thumb {
				@include thumb;
			}

			&::-ms-track {
				@include track;
				background: transparent;
				border-color: transparent;
				border-width: ($thumb-height / 2) 0;
				color: transparent;
			}

			&::-ms-fill-lower {
				@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
				background: $ie-bottom-track-color;
				border: $track-border-width solid $track-border-color;
				border-radius: ($track-radius * 2);
			}

			&::-ms-fill-upper {
				@include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
				background: $track-color;
				border: $track-border-width solid $track-border-color;
				border-radius: ($track-radius * 2);
			}

			&::-ms-thumb {
				@include thumb;
				margin-top: $track-height / 4;
			}

			&:disabled {

				&::-webkit-slider-thumb,
				&::-moz-range-thumb,
				&::-ms-thumb,
				&::-webkit-slider-runnable-track,
				&::-ms-fill-lower,
				&::-ms-fill-upper {
					cursor: not-allowed;
				}
			}
		}

		position: relative;
		
	}

	// Range Label
	.range-slider__value {
		display: inline-block;
		position: relative;
		width: $range-label-width;
		color: $shade-0;
		line-height: 12px;
		text-align: center;
		border-radius: 2px;
		background: $range-label-color;
		padding: 3px;
		margin-left: 8px;
		font-size: 12px;

		&:after {
			position: absolute;
			top: 4px;
			left: -5px;
			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-right: 5px solid $range-label-color;
			border-bottom: 5px solid transparent;
			content: '';
		}
	}
}
