<template class="task-template">
    <section id="progress-section" class="section js-section u-category-native-ui">
        <div class="container">
            <h2 class="main-title">Monitor Transfers: <span id="transfer-type">Download</span></h2>
            <div class="row hidden">
                <div class="col"></div>
                <div class="col-10">
                    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        <h2 class="red-title"><i class="fas fa-minus-circle"></i> Warning upload / download session failed !</h2>
                        Upload / Download for user (user name) on server (server) failed.</br>
                        Please check your monitor/log for details.
                    </div>
                </div>
                <div class="col"></div>
            </div>


            <div class="row">
                <div class="col button-row">
                    <button type="button" class="btn btn-gray js_pause_all"><i class="far fa-pause-circle"></i> Pause All</button>
                    <button type="button" class="btn btn-gray js_cancel_all_transfers"><i class="far fa-times-circle"></i> Cancel All</button>
                    <!-- <button type="button" class="btn btn-gray js_restart_all_transfers"><i class="fas fa-redo"></i> Restart All Canceled</button> -->
                    <button type="button" class="btn btn-gray js_clear_finished"><i class="fas fa-archive"></i> Archive Completed Transfers</button>
                    <!-- <button type="button" class="btn btn-gray float-right"><i class="fas fa-archive"></i> Archive</button> -->
                    <a class="btn btn-gray" href="progress-archive.html"><i class="fas fa-folder-open"></i> View Archived Transfers</a>
                </div>
            </div>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-download-tab" data-toggle="tab" href="#nav-download" role="tab" aria-controls="nav-download"
                        aria-selected="true">Download Progress</a>
                    <a class="nav-item nav-link" id="nav-upload-tab" data-toggle="tab" href="#nav-upload" role="tab" aria-controls="nav-upload"
                        aria-selected="false">Upload Progress</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-download" role="tabpanel" aria-labelledby="nav-download-tab">
                    <table class="table table-bordered filtered-table" id="download_monitor_table"></table>
                </div>
                <div class="tab-pane fade" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">
                    <table class="table table-bordered filtered-table" id="upload_monitor_table"></table>
                    <button data-href="upload.html" type="button" class="btn btn-gray"><i class="fas fa-upload"></i> Upload Another Session</button>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="error-log--download" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Error log</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <div class="log-text">
                            ..
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-blue" data-save-csv>Save log as CSV</button>
                        <!-- <button type="button" class="btn btn-blue">Save log as PDF</button> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="error-log--upload" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Error log</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <div class="log-text">
                            ..
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-blue" data-save-csv>Save log as CSV</button>
                        <!-- <button type="button" class="btn btn-blue">Save log as PDF</button> -->
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Modal -->
        <div class="modal fade" id="upload-success-log" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Transfer log</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <h4>Upload success!</h4>
                        <div class="log-text">
                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>

                        <button id="view-receipt-link" type="button" class="btn btn-gray" data-dismiss="modal" 
                            data-toggle="modal" 
                            data-target="#view-receipt"
                            data-id="">View Receipt</button>

                        <button id="upload-details-link" type="button" class="btn btn-blue" data-dismiss="modal" 
                            data-toggle="modal" 
                            data-target="#upload-details"
                            data-id=""
                            data-session_label=""
                            data-show_transfer_rate="false">View Log</button>
                        <button type="button" class="btn btn-blue" data-save-csv>Save log as CSV</button>
                        <!-- <button type="button" class="btn btn-blue">Save log as PDF</button> -->
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="download-details" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Session transfer details <br> <span class="session-id">File: <span id="file_basename">-</span></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <div class="process-details">
                            
                            <table class="table table-bordered filtered-table" id="download-details-table"></table>

                            <div id="transfer_rate_download">
                                Transfer rate: <span id="download_rate">-</span>
                                <!-- (Total: <span id="download_time">-</span>, <span id="download_size">-</span>) -->
                                <div class="progress-container" style="margin-bottom: 20px;">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%; height:25px;">
                                        <span class="sr-only">In progress</span>
                                    </div>
                                </div>
                            </div>


                            <button data-toggle="collapse" class="btn btn-blue" data-target="#download-nedb-log-container">Download Log</button>
                            <button id="download_log_csv" class="btn btn-gray right">CSV Export</button>

                            <div id="download-nedb-log-container" class="collapse">
                                <table id="download-nedb-log" class="table"></table>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <!--
                        <button type="button" class="btn btn-blue js_pause_download"><i class="far fa-pause-circle"></i> Pause</button>
                    -->
                        <button type="button" class="btn btn-blue js_cancel_download"><i class="far fa-stop-circle"></i> Cancel Download</button>
                        
                        <button type="button" class="btn btn-gray" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Modal -->
        <div class="modal fade" id="upload-details" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Session transfer details <br> <span class="session-id">Session: <span id="session_label">-</span></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                          </button>
                    </div>
                    <div class="modal-body">
                        <div class="process-details">
                            
                            <table class="table table-bordered filtered-table" id="upload-details-table"></table>


                            <div id="transfer_rate_upload">
                                Progress: <span id="upload_rate"></span>
                                <!-- (Total: <span id="download_time">-</span>, <span id="download_size">-</span>) -->
                                <div class="progress-container" style="margin-bottom: 20px;">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%; height:25px;">
                                        <span class="sr-only">In progress</span>
                                    </div>
                                </div>
                            </div>

                            
                            <button data-toggle="collapse" class="btn btn-blue" data-target="#upload-nedb-log-container">Upload Log</button>
                            <button id="upload_log_csv" class="btn btn-gray right">CSV Export</button>

                            <div id="upload-nedb-log-container" class="collapse">
                                <table id="upload-nedb-log" class="table"></table>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-blue js_pause_upload"><i class="far fa-pause-circle"></i> Pause</button> -->
                        <button type="button" class="btn btn-blue js_cancel_upload"><i class="far fa-stop-circle"></i> Cancel Upload</button>
                        <button type="button" class="btn btn-gray" data-dismiss="modal" aria-label="Close"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- Modal -->
        <div class="modal fade" id="view-receipt" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">View Upload Receipt</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>Upload receipt</h4>

                        <div id="receipt-content"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>

                        <button id="receipt-to-pdf" type="button" class="btn btn-gray"
                            data-id="">PDF Receipt</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="upload-receipt-destination" tabindex="-1" role="dialog" aria-labelledby="loginTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Select Folder</h5>
                        
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="far fa-window-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col">
                                <p>Generated PDF receipt will be stored in this location:</p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" id="pdf_destination" value="" class="form-control col-9 settings-input" readonly>
                                        <div class="col-3">
                                            <label class="input-group-btn">
                                                <span class="btn btn-blue">
                                                    Browse
                                                    <input type="file" id="pdf_destination_folder" style="display: none" webkitdirectory
                                                        directory>
                                                </span>
                                            </label>
                                        </div>
    
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <legend class="col-form-label col-sm-2 pt-0">Orientation:</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pdf_orientation"
                                                id="pdf_orientation1" value="portrait" checked>
                                            <label class="form-check-label" for="pdf_orientation1">
                                                Portrait
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pdf_orientation"
                                                id="pdf_orientation2" value="landscape">
                                            <label class="form-check-label" for="pdf_orientation2">
                                                Landscape
                                            </label>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <legend class="col-form-label col-sm-2 pt-0">Page Size:</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pdf_pagesize"
                                                id="pdf_pagesize2" value="Letter" checked>
                                            <label class="form-check-label" for="pdf_pagesize2">
                                                Letter
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="pdf_pagesize"
                                                id="pdf_pagesize1" value="A4">
                                            <label class="form-check-label" for="pdf_pagesize1">
                                                A4
                                            </label>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                        
                            

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="save-pdf-destination" class="btn btn-blue">Save</button>
                        <button type="button" class="btn btn-gray" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <script type="text/html" id="view-receipt-tpl">
            <div id="view-receipt-content">
                <div>
                    <b>Destination</b>: <a href="<%session_link%>"><%session_link%></a> <br>
                    <b>User</b>: "<%user%>" <br>
                    <b>Study ID</b>: <%session_data.studyId%> <br>

                    <ul>
                        <li><b>Start Upload: </b> <%computed.start_upload%></li>
                        <li><b>Study Anonymization: </b> 
                            <ul>
                                <%for(var key in anon_variables) {%>
                                    <li><b><%key%>:</b> <%anon_variables[key]%></li>
                                <%}%>
                            </ul>
                        </li>

                        <%for(var single_series in series) {%>
                            <li><b>Scan Series:</b> <%series[single_series][0].seriesInstanceUid%> 
                                <ul>
                                    <li><b>Files:</b>
                                        <ul>
                                            <%for(var index in series[single_series]) {%>
                                                <li>
                                                    <%series[single_series][index].filename%>
                                                    <ul>
                                                        <li>Checksum (local): <%series[single_series][index].anon_checksum%></li>
                                                    </ul>
                                                </li>
                                            <%}%>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </div>
            
        </script>

        



        <script type="text/javascript">
            require('./renderer-process/progress');
            Helper.pageLoadTrigger('#progress-section');
        </script>

    </section>
</template>