<template class="task-template">
    <section id="upload-section" class="section js-section u-category-native-ui">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="main-title">Upload Image Session to
                        <span id="server_name_tlbr"></span>
                    </h2>

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-project" role="tab" aria-controls="nav-project" aria-selected="true">Project / Data Selection</a>
                            <a class="nav-item nav-link disabled" data-toggle="tab" href="#nav-verify" role="tab" aria-controls="nav-verify" aria-selected="false">Confirm Details</a>
                            <a class="nav-item nav-link disabled" data-toggle="tab" href="#nav-visual" role="tab" aria-controls="nav-visual" aria-selected="false">Inspect Images</a>
                            <a class="nav-item nav-link disabled" data-toggle="tab" href="#nav-visual-bulk" role="tab" aria-controls="nav-visual-bulk" aria-selected="false">Inspect Bulk Images</a>
                            <a class="nav-item nav-link disabled" data-toggle="tab" href="#nav-summary" role="tab" aria-controls="nav-summary" aria-selected="false">Upload to XNAT</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-project" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="row">
                                <div class="col-6"> 
                                    <div class="row">
                                        <div class="col-6">
                                            <h2 class="section-title search-inline">Select Project</h2>
                                        </div>
                                        <div class="col-6">
                                            <div class="filter-control title-inline">
                                                <input type="text" id="upload-project-filter" onkeyup="" placeholder="Filter" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <ul id="upload-project" class="choose-list"></ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                </div>

                                
                                <div class="col-6" style="min-height: 423px;">
                                    <h2 class="section-title">Project Settings</h2>

                                    <div id="project_settings_tbl_wrap"><p>Select a project to view settings</p></div>

                                    <script type="text/html" id="project_settings_tbl_tpl">
                                        <table id="project_settings_tbl" class="table table-sm">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Project</th>
                                                    <th scope="col" class="text-right"><%project_settings.project.name%></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Project ID</th>
                                                    <td class="text-right"><%project_settings.project.ID%></td>
                                                </tr>
                                                <tr>
                                                    <td>Subjects</th>
                                                    <td class="text-right"><%project_settings.subjects.length%></td>
                                                </tr>
                                                <tr>
                                                    <td>Image Sessions</th>
                                                    <td class="text-right"><%project_settings.sessions.length%></td>
                                                </tr>

                                                <tr>
                                                    <td>Site-wide Anon Script</th>
                                                    <td class="text-right">
                                                        <%if(site_wide_settings.anon_script !== false) {%>
                                                            <span title="<%site_wide_settings.anon_script.replace(/"/g, '&quot;')%>">✔</span>
                                                        <%} else {%>
                                                            ✖
                                                        <%}%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Project Anon Script</th>
                                                    <td class="text-right">
                                                        <%if(project_settings.anon_script !== false) {%>
                                                            <span title="<%project_settings.anon_script.replace(/"/g, '&quot;')%>">✔</span>
                                                        <%} else {%>
                                                            ✖
                                                        <%}%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Site-wide Allow Subject Creation</th>
                                                    <td class="text-right">
                                                        <%if(site_wide_settings.allow_create_subject) {%>
                                                            ✔
                                                        <%} else {%>
                                                            ✖
                                                        <%}%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Project Allow Subject Creation</th>
                                                    <td class="text-right">
                                                        <%if(project_settings.allow_create_subject) {%>
                                                            ✔
                                                        <%} else {%>
                                                            ✖
                                                        <%}%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Site-wide Series Import Filter</th>
                                                    <td class="text-right">
                                                        <%if(site_wide_settings.series_import_filter !== false) {%>
                                                            <span title="<%site_wide_settings.series_import_filter.replace(/"/g, '&quot;')%>">✔</span>
                                                        <%} else {%>
                                                            ✖
                                                        <%}%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Project Series Import Filter</th>
                                                    <td class="text-right">
                                                        <%if(project_settings.series_import_filter !== false) {%>
                                                            <span title="<% (JSON.stringify(project_settings.series_import_filter)).replace(/"/g, '&quot;') %>">✔</span>
                                                        <%} else {%>
                                                            ✖
                                                        <%}%>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Upload destination</th>
                                                    <td class="text-right"><%project_settings.upload_destination%></td>
                                                </tr>
                                                <tr>
                                                    <td>Date Verification Required</th>
                                                    <td class="text-right">
                                                        <%if(site_wide_settings.require_date || project_settings.require_date) {%>
                                                            ✔
                                                        <%} else {%>
                                                            ✖
                                                        <%}%>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Allow Bulk Uploading (for Project)</th>
                                                    <td class="text-right">
                                                        <%if(project_settings.allow_bulk_upload) {%>
                                                            ✔
                                                        <%} else {%>
                                                            ✖
                                                        <%}%>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </script>

                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <h2 class="section-title">Select Data To Upload (Choose a Folder)</h2>
                                    <p>Selected folder must contain one or more sets of uncompressed DICOM image files. 
                                        Selected folder can contain files in a flat directory structure or in subfolders. 
                                    </p>

                                    <div id="upload_restrictions" class="alert alert-warning" role="alert"></div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" id="upload_folder" value="" class="form-control col-9 settings-input" readonly>
                                            <div class="col-3">
                                                <label class="input-group-btn">
                                                    <span class="btn btn-blue">
                                                        Browse
                                                        <input type="file" id="file_upload_folder" style="display: none" webkitdirectory
                                                            directory>
                                                    </span>
                                                </label>
                                            </div>
        
                                        </div>
                                    </div>
        
        
                                    <!--<button class="btn btn-blue" id="test-upload" type="button">Test upload</button>-->
        
                                    <progress id="dicom_parse_progress" class="hidden" value="0" max="100"></progress>
                                </div>
                            </div>
                            
                            


                            <div class="row action-button-row">
                                <div class="col-12">
                                    <div class="text-right button-row">
                                        <button class="btn btn-gray float-left hidden" type="button" data-toggle="modal" data-target="#new-subject">Create new subject</button>

                                        <button type="button" class="btn btn-gray" data-href="home.html" type="button">Cancel</button>
                                        <button type="button" class="btn btn-blue js_next disabled">Next <i class="fas fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        

                        <div class="tab-pane fade" id="nav-verify" role="tabpanel" aria-labelledby="nav-verify">
                            <div id="custom_upload">
                                <div class="col" id="anon_variables">

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">
                                            <b>Project</b>:
                                        </label>
                                        <div class="input-group col-sm-6">
                                            <input class="form-control" type="text" name="project" id="var_project"
                                                value="xxx" required readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">
                                            <b>Subject</b>:
                                        </label>
                                        <div class="input-group col-sm-6">
                                            <select class="form-control" id="var_subject" name="subject"
                                                style="width: 40%" required></select>
                                            <button class="btn btn-gray" type="button" data-toggle="modal"
                                                data-target="#new-subject">Create new subject</button>
                                        </div>
                                    </div>


                                    <!--  -->
                                    
                                    <div class="project-subject-visits-holder">

                                        <div class="visits-holder form-group row hidden">
                                            <label class="col-sm-2 col-form-label">
                                                <b>Select Visit</b>:
                                            </label>
                                            <div class="input-group col-sm-6">
                                                <ul id="visit" class="choose-list"></ul>

                                                <input type="hidden" id="var_visit" value="">
                                            </div>
                                        </div>

                                        <div class="datatypes-holder form-group row hidden">
                                            <label class="col-sm-2 col-form-label">
                                                <b>Select Datatype</b>:
                                            </label>
                                            <div class="input-group col-sm-6">
                                                <ul id="datatype" class="choose-list"></ul>

                                                <input type="hidden" id="var_datatype" value="">
                                            </div>
                                        </div>

                                        
                                        <div class="subtypes-holder form-group row hidden">
                                            <label class="col-sm-2 col-form-label">
                                                <b>Select Subtype</b>:
                                            </label>
                                            <div class="input-group col-sm-6">
                                                <ul id="subtype" class="choose-list"></ul>

                                                <input type="hidden" id="var_subtype" value="">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!--  -->



                                    <div class="form-group row" id="experiment_label_container">
                                        <label for="experiment_label" class="col-sm-2 col-form-label">
                                            <b>Experiment Label
                                                <br>(Session)</b>:</label>
                                        <div class="input-group col-sm-6">
                                            <input class="form-control" type="text" name="experiment_label"
                                                id="experiment_label" value="" required>
                                            <div class="invalid-feedback">
                                                Allowed characters: alphanumeric, dash(-) and underscore(_)
                                            </div>
                                            <small>This field has been auto-populated. If you specify a session label
                                                that matches a
                                                session already in this project, XNAT will attempt to merge selected
                                                scans into
                                                the existing session</small>

                                        </div>
                                    </div>
                                    <div id="additional-upload-fields"></div>

                                    <!--
                                    <br>
                                    <br>

                                    <div class="form-group row">
                                        <span class="col-sm-2 col-form-label"><b>Label Generator</b>:</span>
                                        <div class="input-group col-sm-10">
                                            <button id="label_generate_api" type="button">API Gen</button>
                                            <button id="label_generate_local" type="button">Local Gen</button>
                                            <button id="validate_form" type="button">validate form</button>
                                        </div>
                                    </div>
                                    -->

                                </div>

                                <div class="col">
                                    <h2 class="section-title">Confirm The Scans To Be Uploaded</h2>
                                    <p>Note: Unchecked scans will not be uploaded</p>
                                    <table class="table table-bordered" id="image_session"></table>
                                </div>

                                <div class="col">
                                    <h2 class="section-title">Session Summary:</h2>
                                    <p id="session_info"></p>
                                </div>

                                <div class="row action-button-row">
                                    <div class="col-12">
                                        <div class="text-right button-row">
                                            <button type="button" data-href="home.html" class="btn btn-gray">Cancel</button>
                                            <button type="button" class="btn btn-gray js_prev" type="button">
                                            <i class="fas fa-angle-left"></i> Prev</button>
                                            <button type="button" class="btn btn-blue js_next disabled">Next
                                                <i class="fas fa-angle-right"></i>
                                            </button>
                                            <button type="button" class="btn btn-blue js_upload">Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- #custom_upload -->

                            <div id="quick_upload">
                                <div class="col">
                                    <button id="switch_to_custom_upload" type="button" class="float-right btn btn-blue">Switch to the Custom Upload Process</button>
                                    <h2>Quick Upload</h2>
                                    <p>A "quick upload" process assumes that you do not need to make any modifications 
                                        to your session or scan data, including visual PHI inspection or pixel 
                                        anonymization, before uploading to your XNAT. You can switch to the 
                                        Custom Upload Process if you wish.  </p>
                                </div>
                                

                                <div class="col">
                                    <table class="table table-bordered" id="selected_session_tbl"></table>
                                </div>

                                <div class="row action-button-row">
                                    <div class="col-12 row_items">
                                        <div class="button-row">
                                            <label for="upload_overwrite_method" style="font-weight: bold; margin: 0 10px 0 0;">How should XNAT handle overwriting existing data?</label>
                                            <select required id="upload_overwrite_method" style="display: inline-block; width: auto;" class="form-control form-control-sm">
                                                <option value="">Select</option>
                                                <option value="append">Append to Existing Data</option>
                                                <option value="delete">Overwrite Existing Data</option>
                                                <option value="none">Ignore Duplicate Data (Default)</option>
                                            </select>
                                        </div>
    
                                        <div class="button-row">
                                            <button type="button" data-href="home.html"
                                                class="btn btn-gray">Cancel</button>
                                            <button type="button" class="btn btn-gray js_prev" type="button">
                                                <i class="fas fa-angle-left"></i> Prev</button>
                                                <button type="button" class="btn btn-blue js_next">Next
                                                    <i class="fas fa-angle-right"></i>
                                                </button>
                                            <button type="button" class="btn btn-blue js_upload">Upload</button>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- #quick_upload -->

                            <div id="custom_upload_multiple">
                                <div class="col">
                                    <!-- <button id="switch_to_quick_upload" type="button" class="float-right btn btn-blue">Switch to the Quick Upload Process</button> -->
                                    <h2>Bulk Upload</h2>
                                    <p>The bulk upload process allows you to modify session metadata and add parameters for
                                        multiple image sessions, and also includes visual PHI inspection and pixel anonymization,
                                        before uploading to your XNAT. </p>
                                </div>

                                

                                <div class="col">
                                    <div class="container-fluid table-preheader-info">
                                        <div class="row">
                                            <div class="col-7" id="relabeling_info">
                                                <h3>Relabeling Settings 
                                                    <span data-toggle="popover" 
                                                        title="Relabeling Instructions" 
                                                        data-content="The XNAT Desktop Client supports multiple common labeling schemes for subjects and image sessions. You can choose any of these schemes, or hand-enter values. You can also set a default labeling scheme in your project. <a href='https://wiki.xnat.org/xnat-tools/xnat-desktop-client-dxm/subject-and-session-labeling-schemes-for-uploads'>See Documentation</a>.">
                                                        <i class="fas fa-question-circle"></i> Help
                                                    </span>
                                                </h3>
                                                <!--
                                                <p>This table shows both the DICOM values for patient, study, and date
                                                    that were found in your sessions, and the current values for XNAT's
                                                    Subject ID and Session Label fields that have been generated by your
                                                    site and project anonymization scripts. You can edit these values in
                                                    place, or download a CSV file and assign values there.
                                                </p>
                                                -->

                                                
                                                <div class="form-inline" style="margin: 10px 0">
                                                    <div class="form-group">
                                                        <label for="subject_labeling_pattern">Subject Labeling Pattern:</label>
                                                        <select class="form-control form-control-sm" id="subject_labeling_pattern">
                                                            <option value="manual">Manual Entry</option>
                                                            <option value="auto">Auto-generate Labels</option>
                                                            <option value="dicom_patient_name">Use DICOM Patient Name (0010,0010)</option>
                                                            <option value="dicom_patient_id">Use DICOM Patient ID (0010,0020)</option>
                                                            <!--
                                                            <option value="hash_patient_name">Hash DICOM Patient Name</option>
                                                            <option value="hash_patient_id">Hash DICOM Patient ID</option>
                                                            -->
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-inline" style="margin: 10px 0">
                                                    <div class="form-group">
                                                        <label for="session_labeling_pattern">Session Labeling Pattern:</label>
                                                        <select class="form-control form-control-sm" id="session_labeling_pattern">
                                                            <option value="manual">Manual Entry</option>
                                                            <option value="auto">Auto-generate From Subject Label</option>
                                                            <option value="dicom_accession_num">Use DICOM Accession Num (0008,0050)</option>
                                                            <option value="dicom_patient_id">Use DICOM Patient ID (0010,0020)</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="col-4 offset-1">
                                                <h3>Alternate Relabeling

                                                    <span data-toggle="popover" 
                                                    title="Alternate Relabeling" 
                                                    data-content="Download this table as a CSV file, assign values there and then reupload with edited values.">
                                                    <i class="fas fa-question-circle"></i> Help
                                                </span>

                                                </h3>
                                                <p>
                                                    Download this table as a CSV file, then reupload with edited values.
                                                </p>
                                                <p>
                                                    <button class="btn btn-gray" data-csv-tpl-download>Download CSV</button>
                                                    <!-- <button class="btn btn-link" data-csv-tpl-upload>Upload CSV</button> -->

                                                    <label>
                                                        <span class="btn btn-link">
                                                            Upload CSV
                                                            <input type="file" data-csv-file-upload accept=".csv" style="display: none">
                                                        </span>
                                                    </label>

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-bordered" id="custom_upload_multiple_tbl"></table>
                                </div>

                                <div class="row action-button-row">
                                    <div class="col-12 row_items">
                                        <div class="button-row">
                                            <!--
                                            <label for="upload_overwrite_method" style="font-weight: bold; margin: 0 10px 0 0;">How should XNAT handle overwriting existing data?</label>
                                            <select required id="upload_overwrite_method" style="display: inline-block; width: auto;" class="form-control form-control-sm">
                                                <option value="">Select</option>
                                                <option value="append">Append to Existing Data</option>
                                                <option value="delete">Overwrite Existing Data</option>
                                                <option value="none">Ignore Duplicate Data (Default)</option>
                                            </select>
                                            -->
                                            <input type="hidden" id="upload_overwrite_method" name="upload_overwrite_method" value="none" />
                                        </div>
    
                                        <div class="button-row">
                                            <button type="button" data-href="home.html"
                                                class="btn btn-gray">Cancel</button>
                                            <button type="button" class="btn btn-gray js_prev" type="button">
                                                <i class="fas fa-angle-left"></i> Prev</button>
                                            <button type="button" class="btn btn-blue js_next disabled">
                                                Next <i class="fas fa-angle-right"></i></button>
                                            <button type="button" class="btn btn-blue js_upload">Upload</button>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- #custom_upload_multiple -->

                        </div>


                        <div class="tab-pane fade" id="nav-visual" role="tabpanel" aria-labelledby="nav-visual-tab">
                            <h2 class="section-title">Required Visual Check for Burned-in PHI</h2>
                            

                            <p>This optional step allows you to visually review scans for PHI that may have been burned into the pixel data. 
                                For help using this feature, view our <a href="javascript:;" id="show_div_tour">PHI Inspection Tutorial</a>. 
                                You can skip the review step by immediately clicking on the Finish and Upload bottom at the bottom right.</p>
                            
                            

                            <section id="fullscreenMode">
                                <div class="container">
                                    <div class="row">
                                        <div id="fullscreenContent">
                                            <section id="topBarCustom">
                                                <nav class="navbar bg-black">
                                                    <ul class="nav" id="dicom_image_tools">
                                                        <li class="nav-item">
                                                            <a id="stack-scroll-btn" class="nav-link active" 
                                                                data-tool="StackScrollMouseWheel" href="#">
                                                                <svg version="1.2" preserveAspectRatio="none"
                                                                    viewBox="0 0 24 24">
                                                                    <g>
                                                                        <path xmlns:default="http://www.w3.org/2000/svg"
                                                                            d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z">
                                                                        </path>
                                                                    </g>
                                                                </svg>
                                                                <p>Stack Scroll</p>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a id="zoom-btn" class="nav-link" 
                                                                data-tool="Zoom" href="#">
                                                                <svg id="icon-tools-zoom">
                                                                    <use href="assets/images/icons.svg#icon-tools-zoom"></use>
                                                                </svg>
                                                                <p>Zoom</p>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a id="pan-btn" class="nav-link"
                                                                data-tool="Pan" href="#">
                                                                <svg id="icon-tools-zoom">
                                                                    <use href="assets/images/icons.svg#icon-tools-pan"></use>
                                                                </svg>
                                                                <p>Pan</p>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a id="select-area-btn" class="nav-link" 
                                                                data-tool="RectangleOverlay" href="#">
                                                                <div class="el-group"
                                                                    style="opacity: 1; mix-blend-mode: normal;">
                                                                    <svg id="select-area-plus" viewBox="0 0 24 24"
                                                                        style="width: 17px; height: 17px; transform: rotate(0deg) translate(5px, -6px);">
                                                                        <use href="assets/images/icons.svg#select-area-plus">
                                                                        </use>
                                                                    </svg>
                                                                    <svg id="select-area-body" viewBox="0 0 30 20"
                                                                        style="overflow: visible; width: 30px; height: 20px; transform: translate(-10px,0);">
                                                                        <use href="assets/images/icons.svg#select-area-body">
                                                                        </use>
                                                                    </svg>
                                                                </div>
                                                                <p>Select Area</p>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <ul class="nav" id="scans_save_toolbar">
                                                        <li class="nav-item">
                                                            <a id="reset-scan-btn" class="nav-link" href="#">
                                                                <svg id="reset-scan" viewBox="0 0 24 24"
                                                                    style="transform: rotate(0deg) rotate(315deg);">
                                                                    <use href="assets/images/icons.svg#reset-scan"></use>
                                                                </svg>
                                                                <p>Reset Scan</p>
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a id="save-scan-btn" class="nav-link" href="#">
                                                                <svg id="save-scan" viewBox="0 0 24 24"
                                                                    style="transform: rotate(0deg);">
                                                                    <use href="assets/images/icons.svg#save-scan"></use>
                                                                </svg>
                                                                <p>Save scan</p>
                                                            </a>
                                                        </li>
                                                        <ul class="modal-nav">
                                                            <li class="nav-item full-mod-btn">
                                                                <a id="fullscreenBtn" class="btn btn-sm"
                                                                    data-toggle="modal" data-target="#fullscreenModal" href="#">
                                                                    <svg id="fullscreen" viewBox="0 0 24 24"
                                                                        style="width: 20px; height: 20px; transform: rotate(0deg) translate(-5px, -1px);">
                                                                        <use href="assets/images/icons.svg#fullscreen"></use>
                                                                    </svg>
                                                                </a>
                                                            </li>
                                                            <li class="nav-item close-mod-btn">
                                                                <button type="button" id="closeBtn" aria-hidden="true">
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </ul>
                                                </nav>
                                            </section>
                                            <section id="imgGalleryPreview">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm-3" id="series_thumbs_holder">
                                                            <ul id="series_thumbs" class="series_thumbs"></ul>
                                                        </div>
                                                        <div class="col-sm-9" style="max-width: calc(100% - 194px); flex: 0 1 auto;">
                                                            <div id="frame_input_container"></div>
                                                            <div id="dicom_image_container" style="width: 100%; height: 500px;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </section>




                            <div class="row action-button-row">
                                <div class="col-12">
                                    <div class="text-right button-row">
                                        <button type="button" data-href="home.html" class="btn btn-gray">Cancel</button>
                                        <button type="button" class="btn btn-gray js_prev" type="button">
                                            <i class="fas fa-angle-left"></i> Prev</button>
                                        <button type="button" class="btn btn-blue js_upload">Finish and Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- #nav-visual-bulk -->
                        <div class="tab-pane fade" id="nav-visual-bulk" role="tabpanel" aria-labelledby="nav-visual-bulk-tab">
                            <h2 class="section-title">Grouped Scans for Visual PHI Removal.

                                <span 
                                    id="visual-phi-removal-instructions"
                                    style="cursor: pointer; padding: 3px; width: 70px; display: inline-block;"
                                
                                >
                                    <i class="fas fa-question-circle"></i>
                                    Help
                                </span>
                            </h2>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="masking-groups"></div>
                                </div>
                            </div>


                            <div class="row action-button-row">
                                <div class="text-right button-row ">
                                    <button type="button" data-href="home.html" class="btn btn-gray">Cancel</button>
                                    <button type="button" class="btn btn-gray js_prev" type="button">
                                        <i class="fas fa-angle-left"></i> Prev</button>
                                    <button type="button" class="btn btn-blue" id="data-js-visual-bulk-upload" data-js-visual-bulk-upload>Finish and Upload</button>
                                </div>
                            </div>
                        </div>



                        <div class="tab-pane fade" id="nav-summary" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <h2 class="section-title">Summary</h2>

                            <div class="row">
                                <br>
                                <br>
                                <div class="col" id="summary_info"></div>
                            </div>
                           
                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="new-subject" tabindex="-1" role="dialog" aria-labelledby="subject-new" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Create new Subject</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="far fa-window-close"></i>
                            </button>
                        </div>
                        <form id="form_new_subject">
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label">Primary Project:</label>
                                    </div>
                                    <div class="col">
                                        <span id="new_subject_project_id"></span>
                                        <input type="hidden" name="project_id" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label class="col-form-label">Subject’s ID within this project:</label>
                                        </div>
                                        <div class="col">
                                            <input type="text" name="subject_label" class="form-control" required>
                                            <div class="invalid-feedback">
                                                Allowed characters: alphanumeric, dash(-) and underscore(_)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label class="col-form-label">Subject’s research group within this project:</label>
                                        </div>
                                        <div class="col">
                                            <input type="text" name="group" class="form-control">
                                            <div class="invalid-feedback">
                                                Allowed characters: alphanumeric, dash(-) and underscore(_)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-gray" type="button" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-blue">Add New Subject</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="note" tabindex="-1" role="dialog" aria-labelledby="note" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add Note</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="far fa-window-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col">
                                        <textarea placeholder="Add Note" rows="5"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-blue">Add Note</button>
                        </div>
                    </div>
                </div>
            </div>

            
            <!-- Modal -->
            <div class="modal fade" data-backdrop="static" data-keyboard="false" id="session-selection" tabindex="-1" role="dialog" aria-labelledby="session-selection" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Found X sessions</h5>
                            
                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="far fa-window-close"></i>
                            </button> -->
                        </div>
                        <div class="modal-body">
                            <p id="upload_restrictions_modal" class="alert alert-warning" role="alert"></p>

                            <p id="select-sessions-message">Select one or more sessions to upload</p>

                            <p class="notice" data-display="require_date"><span>&#x26A0;</span> Project requires Date Verification before upload can continue</p>
                            
                            <form>
                                <div class="row">
                                    <div class="col">
                                        <table class="table table-bordered" id="found_sessions"></table>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <div class="mr-auto" data-display="require_date">
                                <input type="checkbox" class="magic-checkbox" name="skip_session_date_validation" id="skip_session_date_validation">
                                <label for="skip_session_date_validation">I don't know the dates of these sessions</label>
                            </div>
                            <button type="button" class="btn btn-gray js_cancel_session_selection" type="button" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-gray js_custom_upload" type="button" disabled>Upload</button>
                            <button type="button" class="btn btn-blue js_quick_upload hidden" type="button" disabled>Quick Upload</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="fullscreenModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-body"></div>
                    </div>
                </div>
            </div>

            <!-- Review Series Images Modal -->
            <div class="modal fade fullscreenModal" data-keyboard="false" id="review-series-images" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    
                    <div class="modal-header">
                        <div>
                            <h5 class="modal-title">Review Scans in <span id="modal_mask_alias"></span></h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="second-line">
                            <div id="scanReviewFilter">
                                <label for="review-scans-select-all">
                                    <input type="checkbox" id="review-scans-select-all">
                                    Select all</label>
                                    &nbsp;&nbsp;&nbsp;
                                <label for="review-scans-hide-excluded">
                                    <input type="checkbox" id="review-scans-hide-excluded">
                                    Hide Excluded (<span id="review-series-images--excluded">0/0</span>)</label>
                            </div>
                            
                            <div class="text-center">
                                <span class="with-selected">With selected (<span id="review-series-images--selected">0</span>):</span>
    
                                <button disabled data-js-review-reset type="button" class="btn btn-gray" type="button">Reset</button>
                                <button disabled data-js-review-set-template data-toggle="modal" data-target="#setTemplateModal" type="button" class="btn btn-gray" type="button">Set Template</button>
                                <button disabled data-js-review-exclude type="button" class="btn btn-gray" type="button">Exclude</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="container-fluid">
                                

                                <div id="scan_images">EJS TPL!</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="setTemplateModal" tabindex="-1" data-backdrop="static" 
                role="dialog" aria-labelledby="setTemplateModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="setTemplateModalLabel">Templates Found</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="template-listing"></div>
                    </div>
                    <div class="modal-footer">
                        <button data-js-review-create-template type="button" class="btn btn-link mr-auto">Create New Template</button>
                        <button type="button" class="btn btn-blue" data-dismiss="modal">Okay</button>
                    </div>
                </div>
                </div>
            </div>

            <!-- Create Template Cornerstone Modal -->
            <div class="modal fade fullscreenModal" id="create-masking-template" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    
                    <div class="modal-header">
                        <h5 class="modal-title">Create New Masking Template</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <section id="topBarCustom">
                                    <nav class="navbar bg-black">
                                        <ul class="nav" id="dicom_image_tools">
                                            <li class="nav-item">
                                                <a id="stack-scroll-btn" class="nav-link active" 
                                                    data-tool="StackScrollMouseWheel" href="#">
                                                    <svg version="1.2" preserveAspectRatio="none"
                                                        viewBox="0 0 24 24">
                                                        <g>
                                                            <path xmlns:default="http://www.w3.org/2000/svg"
                                                                d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z">
                                                            </path>
                                                        </g>
                                                    </svg>
                                                    <p>Stack Scroll</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="zoom-btn" class="nav-link" 
                                                    data-tool="Zoom" href="#">
                                                    <svg id="icon-tools-zoom">
                                                        <use href="assets/images/icons.svg#icon-tools-zoom"></use>
                                                    </svg>
                                                    <p>Zoom</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="pan-btn" class="nav-link"
                                                    data-tool="Pan" href="#">
                                                    <svg id="icon-tools-zoom">
                                                        <use href="assets/images/icons.svg#icon-tools-pan"></use>
                                                    </svg>
                                                    <p>Pan</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="select-area-btn" class="nav-link" 
                                                    data-tool="RectangleOverlay" href="#">
                                                    <div class="el-group"
                                                        style="opacity: 1; mix-blend-mode: normal;">
                                                        <svg id="select-area-plus" viewBox="0 0 24 24"
                                                            style="width: 17px; height: 17px; transform: rotate(0deg) translate(5px, -6px);">
                                                            <use href="assets/images/icons.svg#select-area-plus">
                                                            </use>
                                                        </svg>
                                                        <svg id="select-area-body" viewBox="0 0 30 20"
                                                            style="overflow: visible; width: 30px; height: 20px; transform: translate(-10px,0);">
                                                            <use href="assets/images/icons.svg#select-area-body">
                                                            </use>
                                                        </svg>
                                                    </div>
                                                    <p>Select Area</p>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="nav" id="scans_save_toolbar">
                                            <li class="nav-item">
                                                <a id="reset-scan-btn" class="nav-link" href="#">
                                                    <svg id="reset-scan" viewBox="0 0 24 24"
                                                        style="transform: rotate(0deg) rotate(315deg);">
                                                        <use href="assets/images/icons.svg#reset-scan"></use>
                                                    </svg>
                                                    <p>Reset Scan</p>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="save-scan-btn" class="nav-link" href="#">
                                                    <svg id="save-scan" viewBox="0 0 24 24"
                                                        style="transform: rotate(0deg);">
                                                        <use href="assets/images/icons.svg#save-scan"></use>
                                                    </svg>
                                                    <p>Save scan</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </section>

                                <section id="imgGalleryPreview">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3" id="series_thumbs_holder">
                                                <ul id="series_thumbs" class="series_thumbs"></ul>
                                            </div>
                                            <div class="col-sm-9" style="max-width: calc(100% - 194px); flex: 0 1 auto; padding-left: 0; padding-right: 0;">
                                                <div id="frame_input_container"></div>
                                                <div id="dicom_image_container" style="width: 100%; height: calc(100vh - 200px)"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row action-button-row">
                            <div class="col-12">
                                <div class="text-right button-row">
                                    <button  data-dismiss="modal" type="button" class="btn btn-gray" type="button">Cancel</button>
                                    <button data-js-create-template type="button" class="btn btn-blue" type="button">Create Template</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        

        <!-- REQUIRED FOR... -->
        
        <input type="hidden" id="image_session_date" value="">


        <!-- Params passed through from webapp -->
        <div class="hidden">
            <input type="hidden" id="project_prm" value="">
            <input type="hidden" id="subject_prm" value="">
            <input type="hidden" id="visit_prm" value="">
            <input type="hidden" id="datatype_prm" value="">
            <input type="hidden" id="subtype_prm" value="">
        </div>


        <script type="text/javascript">
            require('./renderer-process/upload')

            Helper.pageLoadTrigger('#upload-section'); 
        </script>

    </section>
</template>